DJANGO_SECRET_KEY = 'change-it-in-production'
DEBUG = 'true'
DJANGO_ALLOWED_HOSTS = *
DATABASE_ENGINE = postgresql
DATABASE_HOST = postgres
DATABASE_NAME = documents
DATABASE_PASSWORD = postgres
DATABASE_PORT = 5432
DATABASE_USERNAME = postgres
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=documents
CELERY_BACKEND= redis://redis:6379/0
CELERY_BROKER= redis://redis:6379/0
DOCUMENT_STORAGE_DIR = '/data/documents'
